<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Proxy WebSocket connections to Daphne backend -->
                <rule name="WebSocket Proxy" stopProcessing="true">
                    <match url="^ws/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8001/ws/{R:1}" />
                </rule>
                <rule name="Django Admin" stopProcessing="true">
                    <match url="^admin/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8000/admin/{R:1}" />
                </rule>
                <rule name="Django API" stopProcessing="true">
                    <match url="^api/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8000/api/{R:1}" />
                </rule>
                <rule name="Django Media" stopProcessing="true">
                    <match url="^media/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8000/media/{R:1}" />
                </rule>
                <rule name="Django Static" stopProcessing="true">
                    <match url="^static/(.*)$" />
                    <action type="Rewrite" url="http://localhost:8000/static/{R:1}" />
                </rule>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".avif" />
            <mimeMap fileExtension=".avif" mimeType="image/avif" />
        </staticContent>
        <!-- Increase timeout for WebSocket connections -->
        <webSocket enabled="true" receiveBufferLimit="4194304" />
    </system.webServer>
</configuration>
